@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background-image: radial-gradient(ellipse at 75% 15%, rgb(13, 40, 44) 0%, rgb(15, 14, 19) 75%);
  background-attachment: fixed;
  min-width: 1250px;
    /* background: radial-gradient(ellipse at 75% 15%, rgb(41, 25, 46) 0%, rgb(15, 14, 19) 75%);
 */
  /* background: rgb(15, 14, 19); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
